<!-- ?xml version="1.0" encoding="UTF-8"? -->
<root>
<slug>%SLUG%</slug>
<name>%NAME%</name>
<link>%LINK%</link>
<short_link>%SHORTLINK%</short_link>
<created>%CREATED%</created>
<requires>%REQUIRES%</requires>
<tested>%TESTED%</tested>
<description>%DESCRIPTION%</description>
<date>%DATE%</date>
<latest>%VERSION%</latest>
<warning><![CDATA[%WARNING%]]></warning>
<info><![CDATA[%INFO%]]></info>
<new><![CDATA[%NEWS%]]></new>
<changelog>
<![CDATA[
<%= content %>
]]>
</changelog>
</root>
